sudo: false
language: node_js
cache:
  directories:
    - node_modules
node_js:
  - '0.10'
  - '0.12'
  - 'iojs-v3'
  - '4'
  - '5'
  - 'stable'
before_script:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install -g grunt-cli
matrix:
  allow_failures:
    - node_js: 'iojs-v3'